<div class="document-editor">
  <label class="document-editor__field">
    <span class="document-editor__label">
      {{ 'courses.editor.document.resourceLabel' | transloco }}
    </span>
    <select class="document-editor__select" [formControl]="resourceControl">
      <option value="">{{ 'courses.editor.document.noResource' | transloco }}</option>
      @for (resource of resources(); track resource.id) {
        <option [value]="resource.id">{{ resource.original_name }}</option>
      }
    </select>
  </label>
  @if (!resources().length) {
    <p class="document-editor__hint">
      {{ 'courses.editor.document.resourcesEmpty' | transloco }}
    </p>
  }

  @if (selectedResource(); as selected) {
    <div class="document-editor__preview">
      <span class="document-editor__label">
        {{ 'courses.editor.document.previewLabel' | transloco }}
      </span>
      <app-course-preview-document
        [courseId]="courseId()"
        [resource]="selected"
        [caption]="editorial().caption"
        [display]="editorial().display"
      />
    </div>
  }

  <form [formGroup]="form" class="document-editor__form">
    <label class="document-editor__field">
      <span class="document-editor__label">
        {{ 'courses.editor.document.captionLabel' | transloco }}
      </span>
      <textarea
        class="document-editor__input document-editor__textarea"
        formControlName="caption"
        maxlength="500"
        rows="2"
        [placeholder]="'courses.editor.document.captionPlaceholder' | transloco"
      ></textarea>
    </label>

    <fieldset class="document-editor__fieldset">
      <legend class="document-editor__label">
        {{ 'courses.editor.document.displayLabel' | transloco }}
      </legend>
      <label class="document-editor__radio">
        <input type="radio" formControlName="display" value="inline" />
        <span>{{ 'courses.editor.document.displayInline' | transloco }}</span>
      </label>
      <label class="document-editor__radio">
        <input type="radio" formControlName="display" value="download" />
        <span>{{ 'courses.editor.document.displayDownload' | transloco }}</span>
      </label>
    </fieldset>
  </form>
</div>
